
<div><br/><br/>
  <md-content>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-lg="4" md-cols-gt-lg="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile ng-repeat="picture in searchGalleryController.pictures | orderBy:'version':true" md-colspan-sm="1" md-colspan-md="1" md-colspan-lg="1" md-colspan-gt-lg="1" ng-style="{}">
        <md-card class="gallery-container"><a cl-href="{{picture.public_id}}" target="_blank">
            <cl-image public-id="{{picture.public_id}}" quality="80" format="{{picture.format}}" class="thumbnail inline md-card-image"></cl-image></a></md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>