.left-sidenav
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column", md-component-id="left")
    md-toolbar.md-tall.md-primary
    md-button.md-accent(ui-sref="main", ng-click="mainController.closeSidenav('left')")
      | Inicio
    md-button.md-accent(ui-sref="adoption.root.mainInfo", ng-click="mainController.closeSidenav('left')")
      | Registro
    md-button.md-accent(ui-sref="gallery.root.mainInfo", ng-click="mainController.closeSidenav('left')")
      | Buscador
    md-button.md-accent(ui-sref="upload", ng-click="mainController.closeSidenav('left')")
      | Imágenes

