
<div class="left-sidenav">
  <md-sidenav layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
    <md-toolbar class="md-tall md-primary"></md-toolbar>
    <md-button ui-sref="main" ng-click="mainController.closeSidenav('left')" class="md-accent">Inicio</md-button>
    <md-button ui-sref="adoption.root.mainInfo" ng-click="mainController.closeSidenav('left')" class="md-accent">Registro</md-button>
    <md-button ui-sref="gallery.root.mainInfo" ng-click="mainController.closeSidenav('left')" class="md-accent">Buscador</md-button>
    <md-button ui-sref="upload" ng-click="mainController.closeSidenav('left')" class="md-accent">Imágenes</md-button>
  </md-sidenav>
</div>