div(ng-controller="TopbarController as topbarController")
  md-toolbar#main-toolbar(layout="row", layout-align="space-between start")
    button.menu-btn(ng-click="mainController.toggleSidenav('left')")
      span
        ng-md-icon(icon="menu", size="22", options="{duration: 375}", style="fill: white")
    h1.md-toolbar-tools
      | {{topbarController.labels.HEADER}}
