.material-block()
  svg.spinner(width="65px", height="65px", viewbox="0 0 66 66", xmlns="http://www.w3.org/2000/svg")
    circle.circle(fill="none", stroke="#e51c23", stroke-width="6", stroke-linecap="round", cx="33", cy="33", r="30")

