
<!--style="margin-left: 50px; margin-right: 50px;", style = 'border:blue 1px solid;'-->
<div id="adoption-right-wall" layout-fill="">
  <canvas width="{{rightSideInfoController.width}}" height="{{rightSideInfoController.height}}"></canvas>
</div>