//div(layout = "column")
//  div(md-header-picture="", style="background-image:url(images/svg/space.svg)", ng-show="mainController.isEnable",
//  class="prFadeJello")
//div(ng-include="'app/layout/templates/gallery/gallery.html'", ng-show="mainController.isEnable" class="prFade")
