div.adoptionIcon(layout="row", layout-sm="column", flex="")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.NAME}}
    md-icon.name(md-svg-icon="{{adoptionController.icons.FACE}}")
    input(type="text", ng-model="user.name")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.PRIMARY_LAST_NAME}}
    input(type="text", ng-model="user.primaryLastName")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.SECOND_LAST_NAME}}
    input(type="text", ng-model="user.secondLastName")
div.adoptionIcon(layout="row")
  md-input-container(md-no-float="", flex-sm="66")
    md-icon(md-svg-icon="{{adoptionController.icons.ID}}")
    input(type="text", ng-model="user.id", placeholder="{{adoptionController.labels.ID}}")
//div.adoptionIcon(layout="row")
  md-input-container(md-no-float="", flex-sm="66")
    // Use floating placeholder instead of label
    md-icon.email(md-svg-icon="")
    input(type="email", ng-model="user.email", placeholder="Email (required)", ng-required="true")
//md-input-container(md-no-float="")
  md-icon(md-svg-icon="images/svg/production/ic_perm_identity_24px.svg", style="display:inline-block;")
  input(type="text", ng-model="user.address", placeholder="Address")
